{% csrf_token %}
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <table>
      <tr>
        {% for header in headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
      {% for row in table %}
        <tr>
          {% for key, value in row.items %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
</body>
